body {
    font-family: monospace;
    color:#555;
    font-size:16px;
    margin:2em auto;
    max-width:800px;
    padding:1em;
    line-height:1.4;
    text-align:justify;
    background-color: white  }
    
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #555;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word; }

.tex sub, {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .tex sub{
  font-size: 1em;
  text-transform: uppercase;
}

#table {
    content: "";
    display: table;
    clear: both;
    }
     
.cell {
    float: left;
    height: 260px;
    width: 218px;
    padding: 10px;
    border: solid 1px;
    margin: 10px;
    position: relative;
}

.container {
    padding: 2px 15px;
    position: absolute;
    bottom: 10px;
}

.title  { 
    text-align: center;
    margin-bottom: .2em; }

.subtitle { 
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top:0; }

.tag { 
    background-color: #eee; 
    font-family: monospace;
    padding: 2px; 
    font-size: 80%; 
    font-weight: normal; }

.timestamp { color: #bebebe; }

#navigation { text-align: right; font-size: 70%; white-space: nowrap; }
